{% extends 'basic.html' %}
{% block title %} About {% endblock title %}
{% load static %}
{% block body %}

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
        <div class="container">
  
          <div class="section-title">
            <h2>About</h2>
            <p> Abhilasha Joshi is a highly motivated individual from the outskirts of district Alwar, Rajasthan, India. She holds a Bachelor's degree in 
                Electronics and Communication Engineering from Rajasthan Technical University and a Master's degree in Electronics and Communication 
                Engineering from NIT, Jalandhar, India. </p>
          </div>
  
          <div class="row">
            <div class="col-lg-4" data-aos="fade-right">
              <img src="{% static 'assets/img/IMG_0665.jpg' %}" class="img-fluid" alt="">
            </div>
            <div class="col-lg-8 pt-4 pt-lg-0 content" data-aos="fade-left">
                <br>
                <br>
              <h3>Reseacher (AI, ML, DL, Image-Processing )</h3>
              <p class="fst-italic">
                Welcome to my page! I'm excited to share a little bit about myself with you.
              </p>
              <div class="row">
                <div class="col-lg-6">
                  <ul>
                    <li><i class="bi bi-chevron-right"></i> <strong>Birthday:</strong> <span>1 Jan, 1994</span></li>
                    <li><i class="bi bi-chevron-right"></i> <strong>Phone:</strong> <span>+8290644276</span></li>
                    <li><i class="bi bi-chevron-right"></i> <strong>City:</strong> <span>Jaipur, India</span></li>
                  </ul>
                </div>
                <div class="col-lg-6">
                  <ul>
                    <li><i class="bi bi-chevron-right"></i> <strong>Age:</strong> <span>29</span></li>
                    <li><i class="bi bi-chevron-right"></i> <strong>Degree:</strong> <span>Ph.D.</span></li>
                    <li><i class="bi bi-chevron-right"></i> <strong>Git-Hub:</strong> <span>abhilashaj23</span></li>
                    
                  </ul>
                </div>
              </div>
              <p>
                Currently pursuing a Ph.D. in the Department of ECE from MNIT, Jaipur, Abhilasha is passionate about digital signal processing, machine learning, deep learning, and data science. She has an excellent academic 
                record and has participated in various technical events and competitions. Abhilasha aspires to contribute to the research community and make a positive impact on society.
            </p>
            </div>
          </div>
  
        </div>
      </section>

{% endblock body %}