{% extends 'basic.html' %}
{% block title %} Resume {% endblock title %}
{% load static %}
{% block body %}

    <!-- ======= Resume Section ======= -->
    <section id="resume" class="resume">
        <div class="container">
  
          <div class="section-title">
            <h2>Resume</h2>
            <p>To excel in my career by using my interpersonal skills, contributing to organizational success, and expanding learning, knowledge, and skills.</p>
          </div>
  
          <div class="row">
            <div class="col-lg-6" data-aos="fade-up">
              <h3 class="resume-title">Sumary</h3>
              <div class="resume-item pb-0">
                <h4>Abhilasha Joshi</h4>
                <p><em>Innovative and decision-driven ML/DL researcher with research project in the designing and developingalgorithm of deep learning for medical image processing.</em></p>
                <ul>
                  <li>Jaipur(Rajasthan), India</li>
                  <li>(+91) 8290644276</li>
                  <li>abhilashaj1194@gmail.com</li>
                </ul>
              </div>
  
              <h3 class="resume-title">Education</h3>
              <div class="resume-item">
                <h4>Ph.D.; Deep Learning In Medical Image Processing</h4>
                <h5>2017 - 2023</h5>
                <p><em>Malaviya National Institute of Technology, Jaipur India</em></p>
                <p>Thesis Title: Medical Image Processing For Chronic Disease Analysis using Deep Learning Techniques.</p>
              </div>
              <div class="resume-item">
                <h4>Master of Technology; (EC)Image Processing</h4>
                <h5>2015 - 2017</h5>
                <p><em>Dr B.R.Ambedkar National Institute of Technology, Jalandhar, India</em></p>
                <p> Project Title: Analysis of Side View Face Recognition Using Gabor filter and PCA Technique.</p>
              </div>
              <div class="resume-item">
                <h4>Bachelor of Technology; Electronics and Communication</h4>
                <h5>2010 - 2014</h5>
                <p><em>Vivekananda Institute of Technology, Jaipur, India</em></p>
                <p>iusto quae reiciendis et quis Eius vel ratione eius unde vitae rerum voluptates asperiores voluptatem Earum molestiae consequatur neque etlon sader mart dila</p>
              </div>
              <h3 class="resume-title">Skills</h3>
              <div class="resume-item">
                
                <ul>
                  <h5>Languages</h5>
                  <li> Python, R-programming, SQL, C, Basic HTML,</li>
                  <h5>Tools</h5>
                  <li> MS-Excel, MySQL, Matlab, Tableau, R Studio, Anaconda, Colab, Origin-pro</li>
                  <h5>Data Analysis</h5>
                  <li> Analytics, Data Visualization, Predictive Modeling, Database management</li>
                  <h5> Artificial Intelligence</h5>
                  <li> Machine learning Modeling(Supervised, Unsupervised Learning), Deep learning Modeling(CNN, Graph
                    Learning, Transformer)</li>               
                </ul>
              </div>



            </div>
            <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
              <h3 class="resume-title">Projects</h3>
              <div class="resume-item">
                <h4>P1:Medical Lesion Segmentation Using Deep Learning Technique for Multiple Sclerosis Disease</h4>
                <h4>P2:Graph deep network for optic disc and optic cup segmentation for glaucoma disease using retinal imaging</h4>
                <h4>P3:Dense Deep Transformer for Medical Image Segmentation: DDTraMIS</h4>
                <h5>Programming : Python (Keras), MATLAB</h5>
                <h5>Tools : Anaconda(jupyter), Colab Notebook, MS Excel, MATLAB, Origin-pro</h5>
                <h5>Database : 3D MRI (MICCAI MS Lesion, White matter MS Lesion ), Fundus (DRSHTI-GS, RIM-ONE, DRIONS-DB, HRF ),
                  MRI Brain tumor(BraTS), CT Liver tumor images ( LiTS), MRI (ACDC)
                  </h5>
                <ul>
                  <li>Worked on segmenting lesions from MRI imaging for MS disease, optic disc, and cup from Fundus imaging for Glaucoma
                    disease.</li>
                  <li>Worked on designing, planning, and modeling of architecture. </li>
                  <li>Implementing Encoder-Decoder-based (Modified U-Net), graph-based, and Transformer attention-based architecture.</li>
                  <li>Preparing results for visualization using MS Excel, MATLAB, Origin-pro</li>
                  <li>Writing paper in Latex (Overleaf)</li>
                </ul>
              </div>

              <h3 class="resume-title">Certificates</h3>
              <div class="resume-item">
                  
                <ul>
                  <li> Google Data Analytics Professional Certificate: 8 courses </li>
                  <li>Advances in Deep Architecture For Signal, Vision, And Image Application</li>
                  <li>Python 101 for Data Science</li>
                  <li> Applied AI with DeepLearning</li>
                  <li> AI for Medical Diagnosis </li>
                  <li> SQL For Business Analytics </li>
                  <li> Machine Learning for Computer Vision</li>
                  <li> Generate Synthetic Images with DCGANs in Keras</li>
                  <li> Network Data Science with NetworkX and Python:. </li> 
                </ul>
              </div>

              <h3 class="resume-title">Publications</h3>
              <div class="resume-item">
                  
                <ul>
                  <li> Abhilasha Joshi, and K. K. Sharma. ”Graph deep network for optic disc and optic cup segmentation for glaucoma
                    disease using retinal imaging.” Physical and Engineering Sciences in Medicine 45.3 (2022): 847-858.</li>
                  <li>Abhilasha Joshi, and K. K. Sharma. ”Hybrid topology of graph convolution and autoencoder deep network for
                    multiple sclerosis lesion segmentation.” 2021 International Conference on Artificial Intelligence and Smart Systems
                    (ICAIS). IEEE , 2021.</li>
                  <li>Abhilasha Joshi, and K. K. Sharma. ”Multi-Modal Lesion Segmentation Using Deep Convolution Graph-Based
                    Network.” 2022 IEEE Delhi Section Conference (DELCON). IEEE , 2022.</li>
                  <li>Abhilasha Joshi, and K. K. Sharma. ”Dense Deep Transformer for Medical Image Segmentation: DDTraMIS.” Multimed Tools Appl (2023).</li>              
                </ul>
              </div>
             
            </div>
          </div>
  
        </div>
      </section>
      
{% endblock body %}